<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
<form class="row">
  <div>
    <div class="form-group">
      <label for="formGroupExampleInput">Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" th:placeholder="${product.getName()}">
    </div>
    <div class="form-group">
      <label for="formGroupDescription">Description</label>
      <textarea type="text" class="form-control" id="formGroupDescription"  th:placeholder="${product.getDescription()}"></textarea>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPrice">Price</label>
        <input type="number" class="form-control" id="inputPrice" th:placeholder="${product.getPrice()}">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCategory">Category</label>
        <select id="inputCategory" class="form-control">
          <div th:each="categoryOption : ${listOfCategory}" th:remove="tag">
              <div th:if="${product.getCategory().getId() == categoryOption.getId()}" th:remove="tag">
                <option th:text="${product.getCategory().getName()}" selected></option>
              </div>
            <div th:unless="${product.getCategory().getId() != categoryOption.getId()}" th:remove="tag">
              <option th:text="${categoryOption.getName()}"></option>
            </div>
          </div>
        </select>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary">Update</button>

</form>
</body>
</html>